* {
    font-family: Georgia, serif;
    margin: 0px;
    padding: 0px;
    font-size: var(--text-med);
    box-sizing: border-box;
}

html {
    /* makes the footer look better */
    background-color: var(--bg-dred);
}

body {
    background-color: var(--bg-white);
    color: var(--font-black)
}

img#hero {
    z-index: -1;
    width: 100%;
    height: 73vh;
    object-fit: cover;
}

nav {
    background-color: var(--bg-dred);
    color: var(--font-white);
    height: 10vh;
    width: 100vw;
    padding: 1vh 1vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 3px 2px black;
}

#title {
    float: left;
}

#title a {
    font-size: var(--text-large);
}

nav ul {
    list-style: none;
    margin-left: auto;
    width: 45vw;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    display: inline;
}

nav a {
    font-size: var(--text-small);
    text-decoration: none;
    font-variant: small-caps;
    color: var(--font-white);
}

.main-content {
    padding: 20px;
    margin: auto;
    width: 70vw;
    align-items: center;
    color: var(--font-black);
    font-size: var(--text-small);
}

.main-content p {
    margin-bottom: 2vh;
}

.main-content a {
    color: var(--font-dred);
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: underline;
}

footer {    
    text-align: center;
    background-color: var(--bg-dred);
    color: var(--font-white);
    padding: 2%;
    width: 100%;
    height: 10vh;
}

.spacer1 {
    height: 10vh;
}

.spacer2 {
    height: 20vh;
}

.spacer3 {
    height: 30vh;
}

hr.content-sep {
    width: 25%;
    margin: auto;
}

h1#statement {
    font-size: var(--text-xlarge);
    font-weight: bolder;
    color: var(--font-dred);
    text-align: center;
}
